# Node Variables
NODE_PORT=8080
NODE_CRON="*/5 * * * *"

# Database Variables
DB_URI="mongodb"
DB_HOST=localhost
DB_PORT=27017
DB_NAME=api_sync
DB_USER=root
DB_PASS=root

# Mongo Variables
MONGODB_VARS=""
MONGODB_USENEWURLPARSER=1
MONGODB_USEUNIFIEDTOPOLOGY=1
MONGODB_USEFINDANDMODIFY=0
MONGODB_USECREATEINDEX=1